*{
    font-family: century;
}
header div{
    height: 70px;
    width: 1455px;
    background-color: beige;
}
.logo img{
    margin-right:10px;
    height:50px;
    width: 50px;
    margin-top: 10px;
    float:left;
   border: 2px rgb(21, 46, 21);
   border-radius: 50px;
}
.w{
    float:left;
    margin-left:10px;
    color: rgb(26, 62, 15);
    margin-top: 15px;
    font-size: 30px;
    
}
.livre{
    width: 50px;
    height: 70px;
    border: 2px;

}
h1{
    text-align: center;
}
